name: CICD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  feast:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Test activate conda environment
        shell: bash
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate churn_mlops

      - name: Verify Current Path
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline-mlops/churn_feature_store/churn_features/feature_repo
        run: |
          pwd

      - name: Apply Feast Feature Definitions
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline-mlops/churn_feature_store/churn_features/feature_repo
        run: |
          conda run -n churn_mlops feast apply

      - name: Materialize Feast Features
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/data-pipeline-mlops/churn_feature_store/churn_features/feature_repo
        run: |
          conda run -n churn_mlops feast materialize-incremental $(date -u +"%Y-%m-%dT%H:%M:%S")


  training:
    runs-on: [self-hosted, linux]
    needs: feast
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Activate conda environment
        shell: bash
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate churn_mlops

      - name: Verify Current Path
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          pwd

      - name: Run Training
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          bash ./train.sh

      - name: Run Evaluation
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          bash ./eval.sh

      - name: Run Registration
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          bash ./register_model.sh

      - name: Update Model Version Alias
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          bash ./set_model_alias.sh

      - name: Promote to Champion
        shell: bash
        working-directory: /home/mlops/Repository/aio2025-mlops-project01/model-system/src/run_sh
        run: |
          bash ./promote_model.sh

  serving: 
    runs-on: [self-hosted, linux]
    needs: training

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Activate conda environment
        shell: bash
        run: |
          source /home/mlops/miniconda3/bin/activate
          conda activate churn_mlops
